@import "../../variables";

.Footer {
    margin-top: auto;
    margin-bottom: 2rem;
    align-self: center;
    color: $color-white;
    font-size: $default-font-size;

    @media only screen and (max-width: $bp-large) {
        display: none;
    }
}