@import "../../variables";

.ClosestBranches {
    padding: 2rem;

    &__Header h2 {
        text-align: center;
        letter-spacing: 2px;
        font-weight: 300;
        font-size: 3rem;
    }

    &__Slider {
        width: 50%;
        margin: 4rem auto 0 auto;
    }
}