// COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-complement: #d56f7e;
$color-complement-dark: #b93649;
$color-complement-dark-1: #bb2650;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ddd;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;

// BOX SHADOW
$shadow-dark: 0rem 1rem 1.6rem rgba(#000, 0.3);